<h3 class="titulo mt-2 mb-4">Gestión de usuarios
</h3>
<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <div class="row">
            <div class="button-box col mb-3">
               <a class="btn btn-primary me-3"  (click)="desactivarTodos()">Desactivar todos</a>
               <a class="btn btn-primary" (click)="activarTodos()">Activar todos</a>
            </div>

         </div>
         <table class="table table-striped text-center">
            <thead>
               <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Primer apellido</th>
                  <th>Segundo apellido</th>
                  <th>Correo electrónico</th>
                  <th>Rol</th>
                  <th>Activado</th>
                  <th>Acciones</th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let user of Users">
                  <td><i>{{user.id}}</i></td>
                  <td><i>{{user.name}}</i></td>
                  <td><i>{{user.firstName}}</i></td>
                  <td><i>{{user.lastName}}</i></td>
                  <td><i>{{user.email}}</i></td>
                  
                  <td><i>{{user.role}}</i></td>
                  <td class="text-center">  <div class="form-switch">

                     <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="enabledcb"  [checked]="user.enabled" (change)="onEnabledUserChanged($event.target,user.id)">

                  </div></td>
                  <td class="actions"><a class="btn btn-info" [routerLink]= "['/users', user.id, 
                     'editar']">
                     <i class="fas fa-pencil"></i></a>
                     <a class="btn btn-danger" (click)="borrar(user.id, user.name)">
                     <i class="fas fa-trash"></i></a>
                  </td>
                  
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>
